# BEGIN create-maa-project
node_modules/
.venv/
.uv-cache/
__pycache__/
config/
dist/
debug/
.create-maa-project/
runtimes/
libs/
plugins/
# END create-maa-project

# 编译的二进制模块
agent/libs/*.pyd

# 运行时生成的缓存
data/manifest_cache.json
maafw.log

# node 相关
.pnpm-store/
